@model VendasMVC.Models.Vendedor

@{

    ViewData["Title"] = "Detalhes";

}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataAniversario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataAniversario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SalarioBase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalarioBase)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Departamento.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index">Voltar para a lista</a>
</div>