@model IEnumerable<VendasMVC.Models.Departamento>

@{
    ViewData["Title"] = "Lista de departamentos";
}

<h1>@ViewData["Title"]</h1>
<hr />

<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar novo</a>
</p>

<br />

<table class="table table-striped" id="table-departamentos">

    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
            @foreach (Departamento department in Model)
            {
        <tr>

            <th scope="row">@department.Id</th>
            <td scope="row">@department.Nome</td>
            <td>
                <a asp-action="Edit" asp-route-id="@department.Id" class="btn btn-primary">Edit</a>
                <a asp-action="Datails" asp-route-id="@department.Id" class="btn btn-dark">Datails</a>
                <a asp-action="Delete" asp-route-id="@department.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>

            }
    </tbody>
</table>

